.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__title {
    font-size: 2em;
  }

  button {
    background-color: transparent;
    padding: 0;
    margin: 0;

    &:active {
      img {
        transform: scale(0.99);
      }
    }
  }

  img {
    width: 35px;
    vertical-align: bottom;
  }
}

.searchbox-container {
  position: relative;
  width: 100%;

  #search-box {
    background-color: var(--secondary-background);
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-size: 1em;
    width: 50%;
    height: 2.1rem;

    outline: none;
    border: none;
    border-radius: 1rem;
    transition: width 0.25s;
  }

  #search-box:focus {
    width: 70%;
  }

  .search-icon {
    position: absolute;
    top: 60%; /* Center vertically */
    transform: translateY(-50%);
    left: 0.5rem;

    img {
      max-width: 17px;
    }
  }
}
