.custom-toast-container .Toastify__toast {
  background-color: var(--secondary-background);
}

.custom-toast-container .Toastify__progress-bar {
  background-color: var(--accent-color);
}

.custom-toast-container .Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--accent-color);
}
